SampleData/*
AnalysisParameters.mat
PathToRecentMap.mat
/old\ code
/Manual/TracesManual.aux
/Manual/TracesManual.log
/Manual/TracesManual.toc
/Manual/TracesManual.bbl
/Manual/TracesManual.blg
/Manual/RunningAnalysisFigs
/Manual/ScreenShots
/Manual/TransformationFigures
/Manual/TracesFlowchart-eps-converted-to.pdf
/Manual/TracesFlowchart2-eps-converted-to.pdf
/Manual/TracesFlowchart.ai
/Manual/TracesFlowchart2.ai
/StephCode/*
/extras/pyhsmm_for_Traces/config.pyc
/extras/pyhsmm_for_Traces/fret.pyc
TracesSetup.m
.DS_Store
