/SampleData
AnalysisParameters.mat
FREThistoRough.m
Fake_Data.m
FindSpotCenGauss.m
FindSpotCentersV2.m
PathToRecentMap.mat
ScrewAround.mat
TestChannelMapping.m
MakeSampleImgsFromMovies.m
/old\ code
ScreenSpotsV2.m
PseudoBulkFromSmFRET.m
